<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Intro Page{% endblock %}</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>

<h2>Home</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form><br>
<a class="button-intro" href="/upload">Next</a>
<!--<h1 class="intro">What would Vincent do?</h1>
<p class="intro-text">Welcome Goghling!<br>With the help of this program you can turn an image of your choice into a masterpiece, that Vincent could have drawn for you.</p>
<button class="button-intro">Start</button>-->

</body>
</html>