<!DOCTYPE html>
<html>
<head>
<title>Output Page</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>

<h1 class="intro">Test</h1>
<p class="intro-text">This extraordinary masterpiece “...” was created by none other than the magnificent Neural Network itself. With its fine and precise calculation technique and mind-blowing implementation of algorithms, it creates an incomparable and unique work of art on the highest level of aesthetical enrichment which changes the world today and will be written down in golden letters in art history.</p>
<button class="button-intro">Start</button>

</body>
</html>