<!DOCTYPE html>
<html>
<head>
<title>{% block title %}View Your Final Image | What would Vincent do?{% endblock %}</title>
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="shortcut icon" href="/static/images/icon.png">
<link rel="icon" type="image/png" href="/static/images/icon.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/images/icon.png" sizes="96x96">
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/icon.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/images/icon.png">
</head>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" target="_blank" href="https://media.giphy.com/media/7vAfCgMG4OrFNXsniy/giphy.gif">
    <img src="/static/images/Vincent_Logo.png" height="80" alt="logo" loading="lazy">
  </a>
</nav>
<body>
    <div class="container">
        <div class="row">
          <div class="col"><br>
            <!-- we use a Django function to retrieve and show the paintings name from the database on the website. With the for loop it would be possible to retrieve all names from the database or to sort by the date and time field -->
<h3 style="color:#ff8333;">This extraordinary masterpiece {% for UserInput in posts %}<b><i>{{ UserInput.paintings_name }}</b></i>{% endfor %} was created by none other than the magnificent Neural Network itself. With its fine and precise calculation technique and mind-blowing implementation of algorithms, it creates an incomparable and unique work of art on the highest level of aesthetical enrichment which changes the world today and will be written down in golden letters in art history.</h3>
</div>
<div class="col"><br>
<img src="/user_image/export.jpg"width="800px"></img><br><br>
<!-- the simple html button accesses the image from the Django media path and automatically triggers a download -->
<a href="/user_image/export.jpg" class="btn btn-primary btn-lg" download="proposed_file_name">Download your image</a>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>